.board {
   height: 300px;
   width: 300px;
   margin: 10px;
   border-right: 1px solid;
   border-bottom: 1px solid;
   float: left;
   display: grid;
   grid-template-columns: repeat(11, 1fr);
   grid-template-rows: repeat(11, 1fr);
}
